*/target
tmp/
/src/
.settings/
nbactions.xml
examples/
.svn/
.classpath
.project
target/
glob:*cli-old/*
/.settings/
/jumbo-converters-cif/src/test/resources/dict/peter.xml
/jumbo-converters-cif/src/test/resources/dict/sam.xml
/jumbo-converters-cif/src/test/resources/dict/cif.xml
/jumbo-converters-graphics/morgan.png
/jumbo-converters-graphics/out.png
/jumbo-converters-cif/src/test/resources/dict/sam.xml
/jumbo-converters-cif/units.txt
.DS_Store
*.orig
/.idea/
/.iml/

/.lf/
.ipr
.iws
